@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <br />
    <br />
    <abbr title="Phone">Phone:</abbr><br />
    Hours:
    Monday-Friday 8:00am - 5:00pm Eastern Standard Time
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a>
</address>
