@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">One-time request of enrollment status - click below</p>
    <p><a href="" class="btn btn-primary btn-lg">Enrollment Status &raquo;</a></p>

    @Html.DevExpress().Button(settings => {
        settings.Name = "Button";
        settings.UseSubmitBehavior = true;
            }).GetHtml()

</div>
